---
import Layout from '../layouts/Layout.astro'
---
<Layout title="About F1 Stadistics proyect">
<h1>About F1 proyect</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum cupiditate ipsa quisquam nobis recusandae, porro accusantium neque repellat, cum id non quibusdam in quam. Provident et asperiores modi odit corrupti.</p>
</Layout>