---
const url = 'https://api-formula-1.p.rapidapi.com/rankings/drivers?season=2023';
const options = {
	method: 'GET',
	headers: {
		'X-RapidAPI-Key': '56f9dd9624msh2e1a4a6a24767a5p1d0081jsnfbb7cfd4dcbc',
		'X-RapidAPI-Host': 'api-formula-1.p.rapidapi.com'
	}
};

try {
	const response = await fetch(url, options);
	const result = await response.json();
	console.log(result.response[0]);
} catch (error) {
	console.error(error);
}
---
<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">

</div>